@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>FILMES MAIS ASSISTIDOS</h2>
    <div class="containerHomePage">
        <div class="cards">
            <div class="card">
                <img src="~/logoSpfc.png" width="150px" height="100px" />
            </div>
            <div class="card">
                <img src="~/logoSpfc.png" width="150px" height="100px" />
            </div>
            <div class="card">
                <img src="~/logoSpfc.png" width="150px" height="100px" />
            </div>
        </div>
    </div>
    <h2>SERIES MAIS ASSISTIDAS</h2>
    <div class="containerHomePage">
        <div class="cards">
            <div class="card">
                <img src="~/logoSpfc.png" width="150px" height="100px" />
            </div>
            <div class="card">
                <img src="~/logoSpfc.png" width="150px" height="100px" />
            </div>
            <div class="card">
                <img src="~/logoSpfc.png" width="150px" height="100px" />
            </div>
        </div>
    </div>
</div>
